<!DOCTYPE html>
<html>

<head>
    <title>Three.js Sprite Text Example</title>
</head>

<body>
    <script type="importmap">
        {
            "imports":{
                "three" : "https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.module.min.js",
                "three/examples/jsm/controls/OrbitControls.js": "https://unpkg.com/three@0.144.0/examples/jsm/controls/OrbitControls.js"
            }
        }
    </script>
    <script type="module" src="~/Scripts/Pointscript.js"></script>
</body>

</html>